video {
    max-width: 100%;
    vertical-align: bottom;
}
.ub-unloaded {
    display: none;
}
.ub-loaded {
    display: flex;
    justify-content: center;
}
.ubsticky_right {
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 2147489999 !important;
    animation: an 0.8s;
}
.ubsticky_left {
    position: fixed;
    bottom: 0px;
    left: 5px;
    z-index: 2147489999 !important;
    animation: bounce 0.7s;
}
@keyframes bounce {
    0% {
        top: 100%;    
        left: 30%;
    }  
    100% {  
        top: calc(100vh - 21.6vh);   
        left: 0%; 
    }
}
.ubsticky_left .content_video-dimensions, .ubsticky_right .content_video-dimensions {
    width: 400px !important;
    height: 225px !important;
}

#unibots-video{
    z-index: 2147483999 !important;
    margin: 15px 0px !important;
}
/* iframe css starts here */
.pcFrame {
    height: 390px;
    width: 640px;
    margin: auto;
}
.pcFrame2 {
    height: 230px;
    width: 400px;
    margin: auto;
}
.mbFrame {
    height: 255px;
    width: auto;
    margin: auto;
}
.pcStickyFrame {
    width: 400px !important;
    height: 255px !important;
}
.mbStickyFrame {
    width: 192px !important;
    height: 138px !important;
}
.vpStickyPC .content_video-dimensions {
    width: 400px !important;
    height: 225px !important;
}
.vpStickyMB .content_video-dimensions {
    width: 192px !important;
    height: 108px !important;
}
#ubvideoFrame {
    /* margin-bottom: 15px !important; */
}
/* iframe css ends here */
.video-js .vjs-control.vjs-close-button {
    right: 1px !important;
    top: 0px !important;
    z-index: 2147483999 !important;
    background-color: rgba(43, 51, 63, 0.7);
    height: 3em !important;
    width: 3em !important;
}

.video-js .vjs-control.vjs-close-button .vjs-icon-placeholder:before,
.vjs-icon-cancel:before {
    /* color: black !important; */
    top: -2px;
    font-size: 20px;
}

#ubp_logo {
    background: #fff;
    position: absolute;
    padding: 3px 5px 2px 5px;
    right: 0px !important;
    bottom: 35px !important;
    width: 40px !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: bottom 0.4s ease-in-out;
    height: 11px !important;
    font-size: 10px;
    box-sizing: content-box !important;
    line-height: 11px !important;
}
#ubp_logo img {
    margin: 0px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 11px !important;
    object-fit: unset !important;
    border: none !important;
}
.ubp-cbutton::before {
    content: "Learn More";
}
.ubp-cbutton {
    height: 30px !important;
    border: solid 1px;
    width: 26% !important;
    background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7) 40%,
      rgba(0, 0, 0, 0) 99%
    ) !important;
    color: #fff !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: arial, sans-serif !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: normal !important;
    padding: 5px !important;
    top: 0;
}
@media (max-width: 481px) {
    .ubsticky_left .content_video-dimensions, .ubsticky_right .content_video-dimensions {
        width: 192px !important;
        height: 108px !important;
    }
    /* #ubVideo {
        padding: 0 20px;
    } */
}
